{% block footer %}
	<div class="footer bg-dark text-white py-4">
		<div class="container">
			<div
				class="row">
				<!-- Colonne de liens -->
				<div class="col-md-3">
					<h5>Naviguer</h5>
					<ul class="list-unstyled">
						<li>
							<a href="/" class="text-white text-decoration-none">Accueil</a>
						</li>
						<li>
							<a href="/about_us" class="text-white text-decoration-none">À propos de nous</a>
						</li>
						<li>
							<a href="/contact" class="text-white text-decoration-none">Contact</a>
						</li>
					</ul>
				</div>

				<!-- Colonne d'informations de contact -->
				<div class="col-md-3">
					<h5>Contactez-nous</h5>
					<ul class="list-unstyled">
						<li>
							<a href="mailto:info@epicerieleonard.com" class="text-white text-decoration-none">info@noname.com</a>
						</li>
						<li class="text-white">+33 123 456 789</li>
						<li class="text-white">123 Rue de Bordeaux, Bordeaux</li>
					</ul>
				</div>

				<!-- Colonne de médias sociaux -->
				<div class="col-md-3">
					<h5>Suivez-nous</h5>
					<ul class="list-unstyled">
						<li>
							<a href="https://www.facebook.com/" target="_blank" class="text-white text-decoration-none">
								<i class="fab fa-facebook-f"></i>
								Facebook</a>
						</li>
						<li>
							<a href="https://twitter.com/" target="_blank" class="text-white text-decoration-none">
								<i class="fab fa-twitter"></i>
								Twitter</a>
						</li>
						<li>
							<a href="https://www.instagram.com/" target="_blank" class="text-white text-decoration-none">
								<i class="fab fa-instagram"></i>
								Instagram</a>
						</li>
					</ul>
				</div>

				<!-- Colonne de mentions légales ou autres informations -->
				<div class="col-md-3">
					<h5>Informations</h5>
					<ul class="list-unstyled">
						<li>
							<a href="#" class="text-white text-decoration-none">Mentions légales</a>
						</li>
						<li>
							<a href="#" class="text-white text-decoration-none">Politique de confidentialité</a>
						</li>
					</ul>
				</div>
			</div>

			<!-- Droits d'auteur -->
			<div class="row mt-3">
				<div class="col-12 text-center">
					<p>&copy; 2023 No Name. Tous droits réservés.</p>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
