@import "~bootstrap/scss/bootstrap";

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(58, 58, 58);
}

.navbar_margin {
    margin-bottom: 150px;
}

.bg-dark {
    background: rgba(0, 0, 0, 0.8);
}

.shadow {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.cursor_pointer {
    cursor: pointer;
}

/* Style par défaut pour le panneau latéral du panier */
#cartSidebar {
    width: 400px;
}

/* Styles pour les écrans entre 270px et 420px */
@media (max-width: 420px) and (min-width: 270px) {
    #cartSidebar {
        width: 100%;
    }
}

/* Styles pour les écrans de moins de 270px */
@media (max-width: 269px) {
    #cartSidebar {
        width: 270px;
    }
}


.card-img-top {
    width: 100%;       /* pour que l'image prenne toute la largeur du conteneur */
    max-height: 200px; /* à ajuster selon vos besoins */
    object-fit: cover; /* pour garder le ratio de l'image */
}

.cart-sidebar {
    position: fixed;
    top: 0;
    right: -400px; /* initialement caché */
    width: 400px;
    height: 100%;
    background-color: #333;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.cart-sidebar a.closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
    color: white;
    text-decoration: none;
}

.cart-sidebar a.closebtn:hover {
    color: #f1f1f1;
}

#cartItems li {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

#cartItems .cart-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    justify-content: space-between;
}

/* Style général pour les boutons */
.quantity-decrease,
.quantity-increase {
    background-color: #333;
    color: #fff;
    border: none;
    font-size: 16px;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s;
}

/* Effet de survol pour les boutons */
.quantity-decrease:hover,
.quantity-increase:hover {
    background-color: #555;
}

/* Bouton de diminution */
.quantity-decrease {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

/* Bouton d'augmentation */
.quantity-increase {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

/* Style pour le champ d'entrée */
.quantity {
    width: 60px;
    height: 30px;
    border: none;
    border-top: 1px solid #444;
    border-bottom: 1px solid #444;
    text-align: center;
    background-color: #fff;
    color: #333;
    font-size: 16px;
}

#cartItemCount {
    background-color: #960a48;
    color: white;
    font-weight: bold;
    padding: 5px 5px;
    border-radius: 50%;
    font-size: 14px;
  }
  