{% extends 'base.html.twig' %}

{% block body %}

	<div class="container">
		{% for message in app.flashes('success') %}
			<div class="alert alert-success mt-4">
				{{ message }}
			</div>
		{% endfor %}

		<h1 class="text-white">Formulaire de contact</h1>

		{{ form(form) }}
		</div>

	{% endblock %}
